@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ********** */
/* **NAVIGATION** */
/* ********** */

/* PROFILE */
.btn-outline-p {
  background-color: #4f46ba;
  color: white;
}

.border-p {
  border-bottom: 3px solid #4f46ba;
}

/* SIDEBAR */
/* SIDEBAR */
/* SIDEBAR */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #fff;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.53s ease;
}
.sidebar.open {
  width: 270px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.3s ease;
}
.sidebar .logo-details .logo_name {
  color: #000;
  opacity: 0;
  transition: all 0.3s ease;
}

.sidebar .logo-details .logo_name h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}

.sidebar .logo-details .logo_name h6 {
  font-size: 10px;
  margin: 0;
  font-weight: 400;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.2s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #000;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  display: block;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
  padding-left: 0;
}

.sidebar .nav-list li.active a {
  background-color: #4f46ba;
}

.sidebar .nav-list li.active a .links_name,
.sidebar .nav-list li.active a i {
  color: #fff;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.2s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease;
  background: #fff;
}
.sidebar li a:hover {
  background: #4f46ba;
}
.sidebar li a .links_name {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.3s ease;
  color: #fff;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #4f46ba;
  color: #fff;
  transition: all 0.3s ease;
  overflow: hidden;
}
.sidebar li.profile i {
  color: #fff;
  font-size: 24px;
}
.sidebar.open li.profile {
  width: 270px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #4f46ba;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.3s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

/* NAVBAR */
/* NAVBAR */
/* NAVBAR */
.navbar-phone {
  display: none;
}

.navbar-brand .logo-details {
  display: flex;
  align-items: center;
}

.navbar-brand .logo-details .logo_name h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}

.navbar-brand .logo-details .logo_name h6 {
  font-size: 10px;
  margin: 0;
  font-weight: 400;
}

.navbar .profile .logout {
  border: none;
  background-color: white;
  padding: 5px;
}

.navbar .profile #log_out {
  font-size: 24px;
  color: #4f46ba;
}

/* ********** */
/* **CONTENT** */
/* ********** */
.home-section {
  position: relative;
  background: #f5f9ff;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.3s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 270px;
  width: calc(100% - 270px);
}
.home-section .text {
  display: inline-block;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

/* KOMPONEN */
/* KOMPONEN */
/* KOMPONEN */
/* KOMPONEN */
/* KOMPONEN */

/* warna */

/* ----ANGGOTA */
/* button bayar tagihan */
.tagihan .total {
  padding: 15px;
  background-color: #4f46ba;
  border-radius: 15px;
  display: inline-block;
}

.tagihan .total-text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1vh;
}

.tagihan .bayar-con {
  display: block;
}

.tagihan .bayar {
  padding: 8px;
  font-weight: bold;
  color: white;
  background-color: #f2c94c;
  border-radius: 10px;
  text-decoration: none;
  float: right !important;
}

/*  Row penggunaan air pada buku air*/

/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */

/* line chart */
.overview-pengumuman .overview .chart-container {
  position: relative;
  height: 115px;
  width: 100%;
}

/* card pengumuman */
.overview-pengumuman .card-pengumuman .card-body {
  max-height: 266px;
}
/* =======ANGGOTA====== */

/* BUKU AIR */
/* BUKU AIR */
/* BUKU AIR */
/* BUKU AIR */
/* buku-air */

.buku-air .buku-air-first-col h6.month-name,
.buku-air .buku-air-second-col h6.month-name {
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 1.2rem;
}

.buku-air .card-penggunaan-air-bulan {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
}

.buku-air .card-penggunaan-air-bulan .row-air {
  width: 100%;
}

.buku-air .card-penggunaan-air-bulan label.btn-upload h3 {
  font-weight: 700;
}

.buku-air .card-penggunaan-air-bulan label.btn-upload:hover {
  color: #4f46ba;
  cursor: pointer;
}

.buku-air .card-penggunaan-air-bulan .row-air h3 {
  font-weight: 700;
  font-size: 24px;
}

.buku-air .card-penggunaan-air-bulan .row-air h3:hover {
  color: #4f46ba;
  cursor: pointer;
}

.buku-air .card-penggunaan-air-bulan p.ket {
  font-size: 0.8rem;
}

/* AJUKAN KELUHAN */
/* AJUKAN KELUHAN */
/* AJUKAN KELUHAN */
/* AJUKAN KELUHAN */
.ajukan-keluhan li.nav-item a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 400;
  margin-right: 40px;
}

.ajukan-keluhan .dalam-proses {
  background-color: #f2c94c;
  padding: 8px 20px;
  border-radius: 5pt;
  display: inline-block;
}

.ajukan-keluhan .dalam-proses1 {
  float: right;
  margin-top: 1vh;
}

.ajukan-keluhan .dalam-proses2 {
  margin-top: 1vh;
}

.ajukan-keluhan hr {
  color: #006aff;
}

.ajukan-keluhan .dalam-selesai {
  background-color: #6fcf97;
  padding: 8px 20px;
  border-radius: 5pt;
  display: inline-block;
}

.ajukan-keluhan .dalam-selesai1 {
  float: right;
  margin-top: 1vh;
}

.ajukan-keluhan .dalam-selesai2 {
  margin-top: 1vh;
}

/* INSTALASI */
/* INSTALASI */
/* INSTALASI */
/* INSTALASI */
/* Tabel */
.rincian-kebutuhan .table {
  box-shadow: 0px 0px 50px -3px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.rincian-kebutuhan .table .ins-thead {
  background-color: #4f46ba;
  color: white;
}

.rincian-kebutuhan .table .kol1 {
  padding-left: 3vw;
}

.rincian-kebutuhan .table .rupiah {
  font-size: 0.85em;
}


/* =======ADMIN====== */
/* ANGGOTA */
/* ANGGOTA */
.judul{
  margin-left: 4vh;
  margin-top: 3vh;
  margin-bottom: 6vh;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: underline #4F46BA;
}

.tambah{
  float: right;
  background-color: #6fcf97;
  color: white;
  font-weight: 100;
}

.daftar{
  margin-left: 4vh;
  margin-right: 25vh;
}

table{
  box-shadow: 2px 2px 2px hwb(0 55% 38% / 0.466);
}

table .header{
  background-color: #4F46BA;
  color: white;
  border-color: #4F46BA;
  font-weight: bold;
  text-align: center;
}

table .content{
  background-color: white;
  border-color: white;
  font-weight: 350;
  vertical-align: middle;
  text-align: center;
}

table .content button{
  color: white;
  font-weight: 600;
  text-align: center;
}

table .content .edit{
  background-color: rgb(82, 82, 255);
}

table .content form{
  text-align: center;
}

.content button:hover{
  color: white;
}

.paginasi{
  margin-left: 2vh;
}

.paginasi .nmbr{
  background-color: white;
  border-color: rgb(233, 227, 227);
  font-weight: bold;
  font-size: 12px;
}

.paginasi .sign{
  background-color: #4F46BA;
  border-color: rgb(233, 227, 227);
  color: white;
  font-size: 12px;
}

.judul{
  font-weight: bold;
  text-decoration: underline black;
}

.home-section .ext{
  float: right;
}

.home-section .profil{
  float: left;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.btn-oke, .btn-save, .btn-add{
  float: right;
  margin-right: 10vh;
  width: 100px;
  background-color: #6fcf97;
  color: white;
}

.last{
  margin-left: 18.5vh;
  margin-right: 0.3vh;
}

.detail-m, .edit-m, .tambah-m{
  background-color: #f5f9ff;
}
/* ANGGOTA */
/* ANGGOTA */

/* BUKU AIR ANGGOTA */
/* BUKU AIR ANGGOTA */
.table>thead {
  background-color: #4f46ba;
}

.verti {
  color: white;
}

th {
  font-weight: normal;
}

.horizon {
  font-weight: bold;
  margin-left: 20px;
}

.btn {
  color: white;
}

/* BUKU AIR ANGGOTA */
/* BUKU AIR ANGGOTA */

/* BUKU AIR ANGGOTA DETAIL */
/* BUKU AIR ANGGOTA DETAIL */
/* buku-air */

.buku-air .buku-air-first-col h6.month-name,
.buku-air .buku-air-second-col h6.month-name {
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 1.2rem;
}

.buku-air .card-penggunaan-air-bulan {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
}

.buku-air .card-penggunaan-air-bulan .row-air {
    width: 100%;
}

.buku-air .card-penggunaan-air-bulan label.btn-upload h3 {
    font-weight: 700;
}

.buku-air .card-penggunaan-air-bulan label.btn-upload:hover {
    color: #4f46ba;
    cursor: pointer;
}

.buku-air .card-penggunaan-air-bulan .row-air h3 {
    font-weight: 700;
    font-size: 24px;
}

.buku-air .card-penggunaan-air-bulan .row-air h3:hover {
    color: #4f46ba;
    cursor: pointer;
}

.buku-air .card-penggunaan-air-bulan p.ket {
    font-size: 0.8rem;
}


/* responsive */

@media (max-width: 948px) and (min-width: 768px) {
    .buku-air .card-penggunaan-air-bulan .row-air .col {
        padding: 0 4px;
        font-size: 15px;
    }
}

@media (max-width: 538px) {
    .buku-air .card-penggunaan-air-bulan .row-air .col {
        padding: 0 4px;
        font-size: 15px;
    }
}

/* BUKU AIR ANGGOTA DETAIL */
/* BUKU AIR ANGGOTA DETAIL */

/* ANGGARAN LISTRIK */
/* ANGGARAN LISTRIK */
/* ANGGARAN LISTRIK */
/* ANGGARAN LISTRIK */

/* TANGGAPI KELUHAN */
/* TANGGAPI KELUHAN */
.ajukan-keluhan li.nav-item a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 400;
  margin-right: 40px;
  margin-top: 3vh;
  margin-left: 4vh;
}

.ajukan-keluhan .keluhan-masuk {
  background-color: #4F46BA;
  padding: 8px 20px;
  border-radius: 5pt;
  display: inline-block;
  margin-left: 6vh;
  margin-top: 6vh;
  color: white;
}

.ajukan-keluhan .keluhan-masuk hr{
  color: #f0b80f;
}

.ajukan-keluhan .keluhan-masuk .btn-masuk{
  float: right;
  background-color: white;
  color: black;
}

.home-section .ext{
  float: right;
}

.btn-send{
  background-color: #6fcf97;
  font-weight: bold;
  width: 125px;
}

.ajukan-keluhan .jadwal{
  float: left;
  margin-left: 4vh;
  margin-top: 6vh;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  line-height: 20px;
}

.ajukan-keluhan .dalam-proses {
  background-color: #f2c94c;
  padding: 8px 20px;
  border-radius: 5pt;
  display: inline-block;
  margin-left: 4vh;
  margin-top: 6vh;
}

.ajukan-keluhan .dalam-proses1 {
  float: right;
  margin-top: 1vh;
}

.ajukan-keluhan .dalam-proses2 {
  margin-top: 1vh;
}

.ajukan-keluhan hr {
  color: #006aff;
}

.ajukan-keluhan .dalam-selesai {
  background-color: #6fcf97;
  padding: 8px 20px;
  border-radius: 5pt;
  display: inline-block;
  margin-left: 4vh;
  margin-top: 6vh;
}

.ajukan-keluhan .dalam-selesai2 {
  float: right;
  margin-top: 1vh;
  font-weight: bold;
  color: black;
}

.ajukan-keluhan .dalam-selesai6 {
  float: right;
  margin-top: 1vh;
  font-weight: bold;
  color: #4F46BA;
}

.jadwal-m{
  background-color: #f5f9ff;
}

@media (max-width: 595px) {
  .ajukan-keluhan li.nav-item a {
      font-size: 1.2rem;
      margin-right: 20px;
  }

  .ajukan-keluhan .tab-content {
      font-size: smaller;
  }
}
/* TANGGAPI KELUHAN */
/* TANGGAPI KELUHAN */

/* PENGUMUMAN */
/* PENGUMUMAN */
.judul{
  margin-left: 4vh;
  margin-top: 3vh;
  margin-bottom: 6vh;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: underline #4F46BA;
}

.tambah{
  float: right;
  background-color: #6fcf97;
  color: white;
  font-weight: 100;
}

.daftar{
  margin-left: 4vh;
  margin-right: 25vh;
}

table{
  box-shadow: 2px 2px 2px hwb(0 55% 38% / 0.466)
}

table .header{
  background-color: #4F46BA;
  color: white;
  border-color: #4F46BA;
  font-weight: bold;
}

table .content{
  background-color: white;
  border-color: white;
  font-weight: 350;
  vertical-align: middle;
}

table .content button{
  color: white;
  font-weight: 600;
  text-align: center;
}

table .content .edit{
  background-color: rgb(82, 82, 255);
}

table .content form{
  text-align: center;
}

.content button:hover{
  color: white;
}

.paginasi{
  margin-left: 2vh;
}

.paginasi .nmbr{
  background-color: white;
  border-color: rgb(233, 227, 227);
  font-weight: bold;
  font-size: 12px;
}

.paginasi .sign{
  background-color: #4F46BA;
  border-color: rgb(233, 227, 227);
  color: white;
  font-size: 12px;
}

.ext{
  float: right;
}

.content-detail{
  font-weight: bold;
}

.modal-judul{
  font-weight: bold;
  text-decoration: underline black;
}

.detail-p{
  font-weight: 100;
}

.btn-edit{
  float: right;
  background-color: #6fcf97;
  color: white;
  font-weight: bold;
  width: 120px;
}

.tambah-m, .edit-m, .detail-m{
  background-color: #f5f9ff;
}
/* PENGUMUMAN */
/* PENGUMUMAN */

/* TRANSAKSI INSTALASI */
/* TRANSAKSI INSTALASI */
.transaksi-ins li.nav-item a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 400;
  margin-right: 40px;
  margin-top: 3vh;
  margin-left: 4vh;
}

.transaksi-ins .baru{
  margin-left: 4vh;
  margin-top: 5vh;
  color: white;
  width: 175px;
  background-color: #6fcf97;
  font-weight: 100;
}

.transaksi-ins .ins-baru {
  background-color: #4F46BA;
  padding: 8px 20px;
  border-radius: 5pt;
  display: inline-block;
  margin-left: 6vh;
  color: white;
}

.transaksi-ins .ins-baru hr{
  color: #f0b80f;
}

.transaksi-ins .ins-baru .btn-ins{
  float: right;
  background-color: white;
  color: black;
}

.transaksi-ins .pending, .lunas {
  background-color: #f2c94c;
  padding: 8px 20px;
  border-radius: 5pt;
  display: inline-block;
  margin-left: 4vh;
  margin-top: 6vh;
}

.pending .edit{
  float: right;
  color: white;
  width: 125px;
  background-color: #6fcf97;
  font-weight: 100;
}

.pending .batal{
  float: right;
  width: 125px;
  color: white;
  font-weight: 100;
}

.transaksi-ins .content1 {
  margin-top: 1vh;
}

.transaksi-ins .content2 {
  margin-top: 1vh;
}

.transaksi-ins .pending hr, .lunas hr, .pasang hr, .selesai hr{
  color: #006aff;
}

.lunas button{
  float: right;
  background-color: #4F46BA;
  color: white;
  font-weight: 100;
}

.transaksi-ins .jadwal{
  float: left;
  margin-left: 4vh;
  margin-top: 6vh;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  line-height: 20px;
}

.transaksi-ins .pasang {
  background-color: #f2c94c;
  padding: 8px 20px;
  border-radius: 5pt;
  display: inline-block;
  margin-left: 4vh;
  margin-top: 6vh;
}

.transaksi-ins .selesai {
  background-color: #6fcf97;
  padding: 8px 20px;
  border-radius: 5pt;
  display: inline-block;
  margin-left: 4vh;
  margin-top: 6vh;
}

.transaksi-ins .content-selesai1 {
  float: right;
  margin-top: 1vh;
  font-weight: bold;
  color: black;
}

.transaksi-ins .content-selesai2 {
  float: right;
  margin-top: 1vh;
  font-weight: bold;
  color: #4F46BA;
}

.home-section .ext{
  float: right;
}

.btn-send{
  background-color: #6fcf97;
  font-weight: bold;
  width: 125px;
}

.nama{
  float: right;
  font-weight: bold;
}

.btn-kirim{
  float: right;
  background-color: #6fcf97;
  font-weight: bold;
  width: 120px;
}

.isi{
  font-size: 20px;
  font-weight: 250;
}

.price{
  font-weight: bold;
}

.nama-isi{
  background-color: rgb(204, 202, 202);
  color: black;
}

.ins-m, .tambah-m, .jadwal-m{
  background-color: #f5f9ff;
}

@media (max-width: 595px) {
  .transaksi-ins li.nav-item a {
      font-size: 1.2rem;
      margin-right: 20px;
  }

  .transaksi-ins .tab-content {
      font-size: smaller;
  }
}
/* TRANSAKSI INSTALASI */
/* TRANSAKSI INSTALASI */

/* KELOLA TARIF */
/* KELOLA TARIF */
/* Tabel tarif */
.tb-tarif {
  max-width: 70vw !important;
  box-shadow: 0px 0px 50px -3px rgba(0, 0, 0, 0.1);
}

.thead-tb-tarif {
  background-color: #4F46BA;
  color: white;
}
/* KELOLA TARIF */
/* KELOLA TARIF */

/* DASHBOARD ADMIN */
/* DASHBOARD ADMIN */

/* Pengumuman */
.pengumuman {
  max-height: 46vh;
}

/* Tabel Anggota Nunggak */
.tb-nunggak {
  max-width: 70vw !important;
  box-shadow: 0px 0px 50px -3px rgba(0, 0, 0, 0.1);
}

.thead-tb-nunggak {
  background-color: #4F46BA;
  color: white;
}

.no-wa{
text-decoration: none;
color: black;
}

/* responsive */
@media (max-width: 927px) and (min-width: 768px) {
  .tagihan .total-text {
    font-size: 1.5rem;
  }

  .tagihan .bayar {
    font-size: 0.8rem;
  }

  .pengumuman {
    max-height: 50vh;
  }

  
}
@media (max-width: 817px) and (min-width: 768px) {
  .card-kubik .card-body h2 {
    font-size: 25px;
  }
}

@media (max-width: 767px) and (min-width: 437px) {
  .card-kubik .card-body h2 {
    font-size: 42px;
  }
}

@media (max-width: 436px) {
  .card-kubik .card-body h2 {
    font-size: 32px;
  }
}

/* DASHBOARD ADMIN */
/* DASHBOARD ADMIN */

/* =======PENGURUS====== */
/* KELOLA PENGURUS */
/* KELOLA PENGURUS */
/* KELOLA PENGURUS */
/* KELOLA PENGURUS */

/* ********** */
/* **RESPONSIVE** */
/* **RESPONSIVE** */
/* **RESPONSIVE** */
/* ********** */

/* NAVIGATION */
@media (max-width: 542px) {
  .sidebar-comp {
    display: none;
  }

  .navbar-phone {
    display: block !important;
  }

  .home-section,
  .sidebar.open ~ .home-section {
    left: 0;
    width: 100vw;
  }
}

/* DASHBOARD */
@media (max-width: 927px) and (min-width: 768px) {
  .tagihan .total-text {
    font-size: 1.5rem;
  }

  .tagihan .bayar {
    font-size: 0.8rem;
  }
}
@media (max-width: 817px) and (min-width: 768px) {
  .card-kubik .card-body h2 {
    font-size: 25px;
  }
}

@media (max-width: 767px) and (min-width: 437px) {
  .card-kubik .card-body h2 {
    font-size: 42px;
  }
}

@media (max-width: 436px) {
  .card-kubik .card-body h2 {
    font-size: 32px;
  }
}

/* Ajukan Keluhan Anggota */
@media (max-width: 595px) {
  .ajukan-keluhan li.nav-item a {
    font-size: 1.2rem;
    margin-right: 20px;
  }

  .ajukan-keluhan .tab-content {
    font-size: smaller;
  }
}
