@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ********** */
/* **NAVIGATION** */
/* ********** */

/* PROFILE */
.btn-outline-p {
  background-color: #4f46ba;
  color: white;
}

.border-p {
  border-bottom: 3px solid #4f46ba;
}

/* SIDEBAR */
/* SIDEBAR */
/* SIDEBAR */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #fff;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.53s ease;
}
.sidebar.open {
  width: 270px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.3s ease;
}
.sidebar .logo-details .logo_name {
  color: #000;
  opacity: 0;
  transition: all 0.3s ease;
}

.sidebar .logo-details .logo_name h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}

.sidebar .logo-details .logo_name h6 {
  font-size: 10px;
  margin: 0;
  font-weight: 400;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.2s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #000;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  display: block;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
  padding-left: 0;
}

.sidebar .nav-list li.active a {
  background-color: #4f46ba;
}

.sidebar .nav-list li.active a .links_name,
.sidebar .nav-list li.active a i {
  color: #fff;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.2s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease;
  background: #fff;
}
.sidebar li a:hover {
  background: #4f46ba;
}
.sidebar li a .links_name {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.3s ease;
  color: #fff;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #4f46ba;
  color: #fff;
  transition: all 0.3s ease;
  overflow: hidden;
}
.sidebar li.profile i {
  color: #fff;
  font-size: 24px;
}
.sidebar.open li.profile {
  width: 270px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #4f46ba;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.3s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

/* NAVBAR */
/* NAVBAR */
/* NAVBAR */
.navbar-phone {
  display: none;
}

.navbar-brand .logo-details {
  display: flex;
  align-items: center;
}

.navbar-brand .logo-details .logo_name h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}

.navbar-brand .logo-details .logo_name h6 {
  font-size: 10px;
  margin: 0;
  font-weight: 400;
}

.navbar .profile .logout {
  border: none;
  background-color: white;
  padding: 5px;
}

.navbar .profile #log_out {
  font-size: 24px;
  color: #4f46ba;
}

/* ********** */
/* **CONTENT** */
/* ********** */
.home-section {
  position: relative;
  background: #f5f9ff;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.3s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 270px;
  width: calc(100% - 270px);
}
.home-section .text {
  display: inline-block;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

/* KOMPONEN */
/* KOMPONEN */
/* KOMPONEN */
/* KOMPONEN */
/* KOMPONEN */

/* warna */

/* ----ANGGOTA */
/* button bayar tagihan */
.tagihan .total {
  padding: 15px;
  background-color: #4f46ba;
  border-radius: 15px;
  display: inline-block;
}

.tagihan .total-text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1vh;
}

.tagihan .bayar-con {
  display: block;
}

.tagihan .bayar {
  padding: 8px;
  font-weight: bold;
  color: white;
  background-color: #f2c94c;
  border-radius: 10px;
  text-decoration: none;
  float: right !important;
}

/*  Row penggunaan air pada buku air*/

/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */

/* =======ANGGOTA====== */

/* BUKU AIR */
/* BUKU AIR */
/* BUKU AIR */
/* BUKU AIR */

/* AJUKAN KELUHAN */
/* AJUKAN KELUHAN */
/* AJUKAN KELUHAN */
/* AJUKAN KELUHAN */
.ajukan-keluhan li.nav-item a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 400;
  margin-right: 40px;
}

.ajukan-keluhan .dalam-proses {
  background-color: #f2c94c;
  padding: 8px 20px;
  border-radius: 5pt;
  display: inline-block;
}

.ajukan-keluhan .dalam-proses1 {
  float: right;
  margin-top: 1vh;
}

.ajukan-keluhan .dalam-proses2 {
  margin-top: 1vh;
}

.ajukan-keluhan hr {
  color: #006aff;
}

.ajukan-keluhan .dalam-selesai {
  background-color: #6fcf97;
  padding: 8px 20px;
  border-radius: 5pt;
  display: inline-block;
}

.ajukan-keluhan .dalam-selesai1 {
  float: right;
  margin-top: 1vh;
}

.ajukan-keluhan .dalam-selesai2 {
  margin-top: 1vh;
}

/* INSTALASI */
/* INSTALASI */
/* INSTALASI */
/* INSTALASI */

/* =======ADMIN====== */
/* ANGGOTA */
/* ANGGOTA */
/* ANGGOTA */
/* ANGGOTA */

/* BUKU AIR ANGGOTA */
/* BUKU AIR ANGGOTA */
/* BUKU AIR ANGGOTA */
/* BUKU AIR ANGGOTA */

/* ANGGARAN LISTRIK */
/* ANGGARAN LISTRIK */
/* ANGGARAN LISTRIK */
/* ANGGARAN LISTRIK */

/* TANGGAPI KELUHAN */
/* TANGGAPI KELUHAN */
/* TANGGAPI KELUHAN */
/* TANGGAPI KELUHAN */

/* PENGUMUMAN */
/* PENGUMUMAN */
/* PENGUMUMAN */
/* PENGUMUMAN */

/* TRANSAKSI INSTALASI */
/* TRANSAKSI INSTALASI */
/* TRANSAKSI INSTALASI */
/* TRANSAKSI INSTALASI */

/* KELOLA TARIF */
/* KELOLA TARIF */
/* KELOLA TARIF */
/* KELOLA TARIF */

/* =======PENGURUS====== */
/* KELOLA PENGURUS */
/* KELOLA PENGURUS */
/* KELOLA PENGURUS */
/* KELOLA PENGURUS */

/* ********** */
/* **RESPONSIVE** */
/* **RESPONSIVE** */
/* **RESPONSIVE** */
/* ********** */

/* NAVIGATION */
@media (max-width: 515px) {
  .sidebar-comp {
    display: none;
  }

  .navbar-phone {
    display: block !important;
  }

  .home-section,
  .sidebar.open ~ .home-section {
    left: 0;
    width: 100vw;
  }
}

/* DASHBOARD */
@media (max-width: 927px) and (min-width: 768px) {
  .tagihan .total-text {
    font-size: 1.5rem;
  }

  .tagihan .bayar {
    font-size: 0.8rem;
  }
}
@media (max-width: 817px) and (min-width: 768px) {
  .card-kubik .card-body h2 {
    font-size: 25px;
  }
}

@media (max-width: 767px) and (min-width: 437px) {
  .card-kubik .card-body h2 {
    font-size: 42px;
  }
}

@media (max-width: 436px) {
  .card-kubik .card-body h2 {
    font-size: 32px;
  }
}

/* Ajukan Keluhan Anggota */
@media (max-width: 595px) {
  .ajukan-keluhan li.nav-item a {
    font-size: 1.2rem;
    margin-right: 20px;
  }

  .ajukan-keluhan .tab-content {
    font-size: smaller;
  }
}
